.row
  .col.col-12.col-md-6
    %h1
      New Inventory Item for
      %strong= "#{@inventory_item.bunker.name}"
    = render 'form', inventory_item: @inventory_item, back_path: bunker_path(@inventory_item.bunker)
