- if errors.any?
  .alert.alert-danger{:role => "alert"}
    %h2
      = pluralize(errors.count, "error")
      prohibited this action:
    %ul
      - errors.full_messages.each do |message|
        %li= message